{% extends "base.html" %}
{% block title %}
    Upload Files
{% endblock %}
{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        text-align: center;
    }

    h1 {
        font-size: 32px;
        color: #333;
    }

    form {
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: 300px;
    }

    label {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
        color: #333;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: #555;
    }

    p.message {
        font-size: 18px;
        color: #333;
        margin-top: 20px;
    }
</style>

<body>
    <h1>Add Files</h1>

    <form method="POST" action="/add_person">
        <label for="formFileLg" class="form-label">Large file input example</label>
        <input class="form-control form-control-lg" id="formFileLg" type="file">


        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="md-form md-outline input-with-post-icon datepicker" id="prefill">
            <input placeholder="Select date" type="text" id="prefill-example" class="form-control">
            <label for="prefill-example">Try me...</label>
            <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>

        <div class="md-form md-outline input-with-post-icon datepicker" id="prefill">
            <input placeholder="Select date" type="text" id="prefill-example" class="form-control">
            <label for="prefill-example">Try me...</label>
            <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>

        <button type="submit" class="btn btn-dark">Confirm Upload</button>
    </form>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
</body>

{% endblock %}
